.eb2g_invoice_page{ width:900px; margin:auto;}
.eb2g_invoice_header{ width:500px; float:left;}
.eb2g_invoice_title{ width:350px; float:right;}
.eb2g_invoice_title h2{font-family:Arial, Helvetica, sans-serif; font-weight:600; font-size:28px; margin-top:15px; margin-bottom:15px;  color:#84a91d; margin-top:100px;}
.eb2g_billing{ width:500px; float:left; margin-top:20px; margin-left:-8px;}
.eb2g_invoice_details{ width:350px; float:right; margin-bottom:20px;}
.eb2g_invoice_details tr{ height:30px;}
.eb2g_invoice_fulldetails{ width:900px; float:left; margin-bottom:40px;}
table{border-collapse:collapse; border-color:#9f9f9f;font-family:Arial, Helvetica, sans-serif; font-size:13px;}
table tr td{border-color:#9f9f9f;}
.eb2g_billing td{ padding-left:10px;}