@charset "utf-8";
body {
	background:#f5f6f7;
	margin: 0px;
	padding: 0px;
	font:normal 13px/26px "Droid Sans", Arial, Helvetica, sans-serif;
	color:#666666;
}
* {
	margin:0;
	padding:0;
}
h1, h2, h3, h4, h5, h6, ul, li, form {
	margin:0;
	padding:0;
}

h1.inner{
	color: #2d558a;
    font: 20px/24px "Lucida Sans",Arial,Helvetica,sans-serif;
    margin: 15px 0 6px;
}

p {
	padding:10px 0;
}
a {
	color: #356ABA;
	text-decoration:none;
	outline:none;
}
a:hover {
	color:#454545;
	outline:none;
}
ul, li {
	list-style:none;
}
img {
	border:0;
}
.clear {
	clear:both;
}
.bordernone {
	border:none !important;
}
.bgnone {
	background:none !important;
}
.marginnone {
	margin:0 !important;
}

@font-face {
	font-family: Lucida Sans;
	src: url('font/lsans.eot'); /* IE9 Compatibility Modes */
	src: url('font/lsans.eot?') format('eot'),  /* IE6-IE8 */
	url('font/lsans.woff') format('woff'), /* Modern Browsers */
	url('font/lsans.ttf')  format('truetype'), /* Safari, Android, iOS */
	url('font/lsans.html#lsans') format('svg'); /* Legacy iOS */
}

#main {
	margin:0 auto;
	width:1000px;
}
.top {
	height:130px;
}
.top .logo_sec {
	float:left;
/*	margin:11px 0 0 15px;*/
    margin: 18px 0 0 3px;
}
.top .logo_sec h1.logo {
	float:left;
}
.top .logo_sec .logo {
	float:left;
}
.top .logo_sec .des {
	border-left: 1px solid #636363;
	color: #063e86;
	float: left;
	line-height: 15px;
	margin: 0 0 0 15px;
	padding: 61px 0 0 10px;
	width: 200px;
}
.top .top_right {
	float:right;
	width:650px;
	display:block;
}
.top_right .top_nav {
	float:right;
	width:662px;
}
.top_right .top_nav ul {
}
.top_right .top_nav ul li {
	float:left;
}
.top_right .top_nav ul li a {
	border-left: 1px dotted #4A4A4A;
	color: #4A4A4A;
	float: left;
	padding: 40px 10px 5px;
	width: 75px;
}
.top_right .top_nav ul li a.last {padding-right:0;}
.top_right .top_nav ul li a:hover {
	color:#356aba;/*	background:url(../images/menu_hover.jpg) repeat-x bottom*/
}
.top_right .main_cont_sec {
	float:right;
	width:auto;
	font:normal 12px/10px "Lucida Sans", Arial, Helvetica, sans-serif;
	height:25px;
	margin:41px 0 0;
}
.top_right .main_cont_sec .cont_img_lft, .top_right .main_cont_sec .cont_img_rht {
	float:left;
}
.top_right .main_cont_sec .cont_sec {
	float:left;
	background:url(../images/cont_bg.png) repeat-x 0 0;
	height:25px;
}
.top_right .main_cont_sec .cont_sec {
	float:left;
	background:url(../images/cont_bg.png) repeat-x 0 0;
}
.top_right .main_cont_sec .cont_sec ul {
	list-style:none;
	padding:7px 0 0;
}
.top_right .main_cont_sec .cont_sec ul li {
	float:left;
	padding:0 10px;
	border-right:1px solid #4872a9;
	text-shadow:1px 1px 1px #fff;
	color:#063e86;
}
.top_right .main_cont_sec .cont_sec ul li a {
	color:#063e86;
}
.top_right .main_cont_sec .cont_sec ul li a:hover {
	color:#000;
}
.latest_news_sec {
	width:100%;
	margin:15px 0 0;
}
.latest_news_sec .common_top {
	background:url(../images/common_top.png) no-repeat 0 0;
	width:1000px;
	height:4px;
	display:block;
}
.latest_news_sec .common_btm {
	background:url(../images/common_btm.png) no-repeat 0 0;
	width:1000px;
	height:7px;
	display:block;
}
.latest_news_sec .cont_sec {
	background:url(../images/common_bg.png) repeat-y 0 0;
	padding:10px 19px;
	height:22px;
	overflow:hidden;
}
.latest_news_sec .cont_sec .heading {
	float:left;
	color:#6a860f;
	font:normal 22px/19px "Droid Sans";
}
.latest_news_sec .cont_sec .view {
	float:left;
}
.latest_news_sec .cont_sec .view a {
	color:#356aba;  margin-right:0px;
}
.latest_news_sec .cont_sec .view a:hover {
	color:#454545;
}
.industry_solution_sec {
	margin:15px 0 0;
}
.industry_solution_sec h1 {
	color:#454545;
	font:normal 20px/22px "Lucida Sans", Arial, Helvetica, sans-serif;
	padding:0 0 15px 15px;
	background:url(../images/head_bdr.png) repeat-x 0 bottom;
	margin:0 0 15px;
	position:relative;
}
.industry_solution_sec h1 span.view {
	float:right;
	position:absolute;
	right:23px;
	font:normal 12px/19px "Lucida Sans", Arial, Helvetica, sans-serif;
}
.industry_solution_sec h1 span.view a {
	color:#356aba;
}
.industry_solution_sec h1 span.view a:hover {
	color:#454545;
}
.industry_solution_sec .box {
	background:url(../images/box_bg.png) no-repeat left top;
	float: left;
	height: 245px;
	margin: 0 18px 0 0;
	padding: 15px 22px 14px;
	width: 192px;
}
.industry_solution_sec .box h1 {
	font:normal 17px/17px "Lucida Sans", Arial, Helvetica, sans-serif;
	color:#373330;
	padding:0 0 5px;
	margin:0;
	background:none;
	text-align:center;
}
.industry_solution_sec .box p {
	font:normal 12px/18px "Lucida Sans", Arial, Helvetica, sans-serif;
	color:#444444;
	padding:4px 0;
}
.industry_solution_sec .box a.read {
	float:right;
	color:#356aba;
}
.industry_solution_sec .box a.read:hover {
	color:#454545;
}
.main_container {
	width:100%;
	margin:25px 0 0;
}
.main_container .left_main {
	float:left;
	width:238px;
}
.left_main .categories {
	width:100%;
}
.left_main .categories .com_top {
	display:block;
	background:url(../images/left_main_top.png) no-repeat 0 0;
	width:238px;
	height:6px;
}
.left_main .categories .com_btm {
	display:block;
	background:url(../images/left_main_btn.png) no-repeat 0 0;
	width:238px;
	height:8px;
}
.left_main .categories .cont_sec {
	background:url(../images/left_main_mid.png) repeat-y 0 0;
	padding:10px 20px;
	min-height:300px;
}
.left_main .categories .cont_sec h1 {
	position:relative;
	font:normal 20px/22px "Lucida Sans", Arial, Helvetica, sans-serif;
	color:#444444;
	padding:0 0 10px;
}
.left_main .categories .cont_sec ul.cat_links {
	list-style:none;
	font:normal 12px/19px "Lucida Sans", Arial, Helvetica, sans-serif;
	padding:10px 0;
}
.left_main .categories .cont_sec ul.cat_links li {
	background:url(../images/icon.png) no-repeat left center;
	padding:5px 0 6px 20px;
	border-bottom:1px solid #e9e9e9;
}
.left_main .categories .cont_sec ul.cat_links li a {
	color:#444444;
}
.left_main .categories .cont_sec ul.cat_links li a:hover {
	color:#356aba;
}
.left_main .case_studies_sec {
	width:100%;
	margin:15px 0 0;
}
.left_main .case_studies_sec .com_top {
	display:block;
	background:url(../images/left_main_top.png) no-repeat 0 0;
	width:238px;
	height:6px;
}
.left_main .case_studies_sec .com_btm {
	display:block;
	background:url(../images/left_main_btn.png) no-repeat 0 0;
	width:238px;
	height:8px;
}
.left_main .case_studies_sec .cont_sec {
	background:url(../images/left_main_mid.png) repeat-y 0 0;
	padding:10px 20px;
	font:normal 12px/19px "Lucida Sans", Arial, Helvetica, sans-serif;
	min-height:303px;
}
.left_main .case_studies_sec .cont_sec h1 {
	position:relative;
	font:normal 20px/22px "Lucida Sans", Arial, Helvetica, sans-serif;
	color:#444444;
	padding:0 0 10px;
	position:relative;
}
.left_main .case_studies_sec .cont_sec h1 span.view {
	position:absolute;
	right:5px;
	bottom:5px;
	font:normal 12px/19px "Lucida Sans", Arial, Helvetica, sans-serif;
}
.left_main .case_studies_sec .cont_sec h1 span.view a {
	color:#356aba;
}
.left_main .case_studies_sec .cont_sec .title {
	font:normal 13px/15px "Lucida Sans", Arial, Helvetica, sans-serif;
	padding:15px 0;
}
.left_main .case_studies_sec .cont_sec .title a {
	color:#356aba;
}
.left_main .case_studies_sec .cont_sec p {
	padding:5px 0;
}
.left_main .case_studies_sec .cont_sec a.read_more {
	color: #356ABA;
	display: block;
	text-align: right;
	margin:20px 0 0;
}
.left_main .case_studies_sec .cont_sec a.read_more:hover {
	color:#454545;
}
.main_container .mid_main {
	float:left;
	width:494px;
	margin:0 0 0 15px;
}
.mid_main .about_sec {
	display:block;
	margin:0 0 15px;
}
.mid_main .about_sec .com_top {
	background:url(../images/main_mid_top.png) no-repeat 0 0;
	width:494px;
	height:8px;
	display:block;
}
.mid_main .about_sec .com_btm {
	background:url(../images/main_mid_btm.png) no-repeat 0 0;
	width:494px;
	height:8px;
}
.mid_main .about_sec .cont_sec {
	background:url(../images/main_mid_bg.png) repeat-y 0 0;
	padding:10px 20px;
	color:#666666;
	min-height:295px;
}
.mid_main .about_sec .cont_sec h1 {
	font:normal 20px/22px "Lucida Sans", Arial, Helvetica, sans-serif;
	color:#444444;
	padding:0 0 10px;


}
.mid_main .about_sec .cont_sec .high {
	color:#356aba;
	font:normal 13px/15px "Lucida Sans", Arial, Helvetica, sans-serif;
	padding:10px 0 10px;
}
.mid_main .about_sec a.read_more {
	display:block;
	text-align:right;
	color:#356aba;
}
.mid_main .about_sec a.read_more:hover {
	color:#454545;
}
.main_container .right_main {
	float:right;
	width:236px;
}
.right_main .contact_form {
	background:url(../images/form_curve.png) no-repeat left bottom;
	width:236px;
	padding:0 0 12px;
}
.contact_form h1 {
	display:block;
	background:url(../images/form_head_bg.png) no-repeat 0 0;
	padding:0 20px 0;
	height:41px;
	font:normal 17px/17px "Lucida Sans", Arial, Helvetica, sans-serif;
	color:#fff;
	line-height:41px;
}
.contact_form ul.contact {
	background:#828485 url(../images/form_bg.png) repeat-x 0 0;
    float: left;
    list-style: none outside none;
    padding: 20px 20px 0;
    width: 196px;
}
.contact_form ul.contact li {
	margin:0 0 10px;
}
.contact_form ul.contact li input, .contact_form ul.contact li textarea {
	border-top:1px solid #9d9d9d;
	border-left:1px solid #9d9d9d;
	border-bottom:1px solid #d8d8d8;
	border-right:1px solid #d8d8d8;
	padding:3px 5px;
	width:186px;
	color:#444444;
	font:normal 12px/19px "Lucida Sans", Arial, Helvetica, sans-serif;
}
.contact_form ul.contact li .btn {
	float:right;
	background:url(../images/sbt_btn.png) no-repeat left top;
	width:88px;
	height:28px;
	border:none;
	cursor:pointer;
}
.contact_form ul.contact li .btn:hover {
	background:url(../images/sbt_btn.png) no-repeat left -28px;
}
.right_main .our_works {
	width:100%;
	margin:15px 0 0;
}
.our_works .com_top {
	background:url(../images/right_main_top.png) no-repeat 0 0;
	height:8px;
	display:block;
}
.our_works .com_btm {
	background:url(../images/right_main_btm.png) no-repeat 0 0;
	height:8px;
	display:block;
}
.our_works .cont_sec {
	background:url(../images/right_main_bg.png) repeat-y 0 0;
	padding: 10px 20px 21px;
	display:block;
	min-height:288px;
	position:relative;
}

.our_works .cont_sec a.read_more {
    color: #356ABA;
    display: block;
    text-align: right;
}
.our_works .cont_sec a.viewall {
    top: 40px;
    color: #356ABA;
    display: block;
    padding: 0;
    position: absolute;
    right: 25px;
    text-align: right;
    z-index: 10;
}

.our_works .cont_sec .Interactive_Apps {
    bottom:10px;
    color:#666;
	font:bold 12px/19px Arial, Helvetica, sans-serif;
    display:block;
    padding:0;
    position:absolute;
    right: 25px;
    text-align: right;
    z-index:10;
}

.read_the_details{
    color: #356ABA;
    display: block;
    padding: 20px 0 0 0;
   text-align: right;
}
/*.our_works .cont_sec a.viewall:hover {text-decoration:underline}*/

.our_works .cont_sec h1 {
	color: #444444;
	font: 20px/22px "Lucida Sans", Arial, Helvetica, sans-serif;
	padding: 0 0 10px;
}
/*-----------carousel css starts---------------*/

.stepcarousel {
	position: relative; /*leave this value alone*/
	border: 10px solid black;
	overflow: scroll; /*leave this value alone*/
	width: 170px; /*Width of Carousel Viewer itself*/
	height: 200px; /*Height should enough to fit largest content's height*/
}
.stepcarousel .belt {
	position: absolute; /*leave this value alone*/
	left: 0;
	top: 0;
}
.stepcarousel .panel {
	float: left; /*leave this value alone*/
	overflow: hidden; /*clip content that go outside dimensions of holding panel DIV*/
	margin: 10px; /*margin around each panel*/
	width:170px; /*Width of each panel holding each content. If removed, widths should be individually defined on each content DIV then. */
}
/*-----------carousel css starts---------------*/

.out_clients_sec {
	width:100%;
	margin:15px 0 0;
}
.out_clients_sec h1 {
	background: url(../images/head_bdr.png) repeat-x scroll 0 bottom transparent;
	color: #454545;
	font: 20px/22px "Lucida Sans", Arial, Helvetica, sans-serif;
	margin: 0 0 15px;
	padding: 0 0 15px 15px;
	position: relative;
}
.out_clients_sec h1 span.view {
	float: right;
	position: absolute;
	right: 23px;
	font: 12px/19px "Lucida Sans", Arial, Helvetica, sans-serif;
}
.out_clients_sec h1 span.view a {
	color: #356ABA;
}
.out_clients_sec h1 span.view a:hover {
	color:#454545;
}
.out_clients_sec .com_top {
	background:url(../images/common_top.png) no-repeat 0 0;
	height:4px;
}
.out_clients_sec .com_btm {
	background:url(../images/common_btm.png) no-repeat 0 0;
	height:7px;
}
.out_clients_sec .cont_sec {
	background:url(../images/common_bg.png) repeat-y 0 0;
	padding:5px 9px;
	overflow:hidden;
}
.main_footer {
	margin:15px 0 0;
}
.main_footer .footer {
	color:#fff;
}
.footer .foot_top {
	background:url(../images/foot_top.png) no-repeat 0 0;
	height:8px;
}
.footer .foot_btm {
	background:url(../images/foot_btm.png) no-repeat 0 0;
	height:8px;
}
.footer .foot_cont_sec {
	background:#888889 url(../images/foot_bg.png) repeat-x top left;
	padding:10px 15px 0;
	overflow:hidden;
}
.footer .foot_cont_sec .service_sec {
    float: left;
    margin: 0 11px 0 0;
    width: 220px;
}
.footer .foot_cont_sec .service_sec h1 {
	font:normal 12px/12px "Lucida Sans", Arial, Helvetica, sans-serif;
	color:#fff;
	background:url(../images/foot_head_bdr.png) repeat-x left bottom;
	padding:0 0 15px;
	margin:0 0 10px;
}

.footer .foot_cont_sec .service_sec h1 a,
.footer .foot_cont_sec .service_sec h1 a:hover {
	color:#fff;
}


.footer .foot_cont_sec .service_sec h1.prepress {
	margin:30px 0 0;
	background:url(../images/pre_bg.png) repeat-x left bottom;
}
.footer .foot_cont_sec .service_sec ul {
	list-style:none;
}
.footer .foot_cont_sec .service_sec ul li {
	font:normal 10px "Lucida Sans", Arial, Helvetica, sans-serif;
	background:url(../images/foot_icon.png) no-repeat left 9px;
	padding: 5px 0 5px 15px;
}
.footer .foot_cont_sec .service_sec ul li a {
	color:#fff;
}
.footer .foot_cont_sec .service_sec ul li a:hover {
	color:#b3b3b3;
}
.footer .foot_cont_sec .event_sec {
	float:right;
	width: 270px;
	color:#fff;
	font:normal 10px/16px "Lucida Sans", Arial, Helvetica, sans-serif;
}
.footer .foot_cont_sec .event_sec a {
	color:#fff;
	text-decoration:underline;
}
.footer .foot_cont_sec .event_sec a:hover {
	text-decoration:none;
}
.footer .foot_cont_sec .event_sec h1 {
	font:normal 12px/12px "Lucida Sans", Arial, Helvetica, sans-serif;
	color:#fff;
	background:url(../images/foot_head_bdr.png) repeat-x left bottom;
	padding:0 0 15px;
	margin:0 0 10px;
}
.footer .foot_cont_sec .event_sec ul {
	list-style:none;
	padding:10px 0 0;
}
.footer .foot_cont_sec .event_sec ul li {
	overflow: hidden;
	padding: 0 0 10px;
}

.footer .foot_cont_sec .event_sec ul li strong {
	display:block;
}

.footer .foot_cont_sec .event_sec ul li span {
	display:block;
}

.footer .foot_cont_sec .event_sec ul li img {
	float:left;
	margin:0 10px 5px 0;
	border:4px solid #8dbff8;
}
.main_footer .foot_btm_sec {
	padding:10px 0;
	color:#9a9a9a;
	font:normal 11px/15px "Lucida Sans", Arial, Helvetica, sans-serif;
	overflow:hidden;
}
.main_footer .foot_btm_sec .btm_links {
	float:left;
	width:auto;
}
.main_footer .foot_btm_sec .btm_links ul {
	display: block;
	list-style: none outside none;
	overflow: hidden;
	padding: 7px 0;
}
.main_footer .foot_btm_sec .btm_links ul li {
	border-right: 1px solid #9A9A9A;
	color: #9A9A9A;
	float: left;
	line-height: 10px;
	padding: 0 5px;
}
.main_footer .foot_btm_sec .btm_links ul li a {
	color:#9a9a9a;
}
.main_footer .foot_btm_sec .btm_links ul li a.mail {
	color:#356aba;
}
.main_footer .foot_btm_sec .btm_links ul li a:hover {
	color:#525252;
}
.main_footer .foot_btm_sec .social_med_sec {
	float:right;
	width:auto;
}
.main_footer .foot_btm_sec .social_med_sec .title {
	float:left;
	color:#4c6271;
	font:normal 11px/12px "Lucida Sans", Arial, Helvetica, sans-serif;
	padding: 8px 10px 0 0;
}
.main_footer .foot_btm_sec .social_med_sec ul {
	float:left;
}
.main_footer .foot_btm_sec .social_med_sec ul li {
	float:left;
	width:30px;
	height:30px;
	margin:0 5px 0 0
}
.main_footer .foot_btm_sec .social_med_sec ul li a {
	float:left;
	width:30px;
	height:30px;
}
.main_footer .foot_btm_sec .social_med_sec ul li a.in {
	background:url(../images/social_links.png) no-repeat -77px 0;
}
.main_footer .foot_btm_sec .social_med_sec ul li a.in:hover {
	background:url(../images/social_links.png) no-repeat -77px -31px;
}
.main_footer .foot_btm_sec .social_med_sec ul li a.face {
	background:url(../images/social_links.png) no-repeat 0 0;
}
.main_footer .foot_btm_sec .social_med_sec ul li a.face:hover {
	background:url(../images/social_links.png) no-repeat 0px -30px;
}
.main_footer .foot_btm_sec .social_med_sec ul li a.twit {
	background:url(../images/social_links.png) no-repeat -38px 0;
}
.main_footer .foot_btm_sec .social_med_sec ul li a.twit:hover {
	background:url(../images/social_links.png) no-repeat -38px -30px;
}
.main_footer .foot_btm_sec .social_med_sec ul li a.rss {
	background:url(../images/social_links.png) no-repeat -116px 0;
}
.main_footer .foot_btm_sec .social_med_sec ul li a.rss:hover {
	background:url(../images/social_links.png) no-repeat -116px -30px;
}
/* Ashish orange layout css */

.container {
	width:1000px;
	float:left;
	margin:10px 0 0 0;
}
.container .container_box {
	float:left;
	width:1000px;
	background:url(../images/common_top.png) left top no-repeat;
	padding:4px 0 0;
}
.container .container_box .container_bottom .container_bg {
	float:left;
	width:970px;
	background:url(../images/common_bg.png) left top repeat-y;
	padding:5px 15px;
}
.container .container_box .container_bottom {
	float:left;
	width:1000px;
	background:url(../images/common_btm.png) left bottom no-repeat;
	padding:0 0 7px;
}
.container .breadcrumbe {
	float:left;
	color:#356aba;
	padding: 0 0 5px;
	width:100%;
	font-size:11px;
}
.container .breadcrumbe a {
	color:#000;
	font-size:11px;
}
.container .breadcrumbe a:hover {
	color:#777777;
}
.container .container_left {
	float:left;
	width:211px;
}
.container .containt_left a {
	color:#356ABA;
}
.container .containt_left a:hover {
	color:#ac5d1c;
}
.container .container_left .leftnav_top {
	background:url(../images/leftnavtop.png) no-repeat left top;
	padding:7px 0 0 0;
	float:left;
	width:211px;
}
.container .container_left .leftnav_top .leftnav_bottom {
	float:left;
	width:211px;
	background:url(../images/leftnavbottom.png) left bottom no-repeat;
	padding:0 0 7px 0;
}
.container .container_left .leftnav_top .leftnav_bottom .leftnav_bg {
	float:left;
	width:191px;
	background:url(../images/leftnavbg.png) repeat-y left top;
	padding:5px 10px;
}
.container .container_left .leftnav_top .leftnav_bottom .leftnav_bg .headLine {
	color:#474747;
	font:bold 11px/16px "Lucida Sans", Arial, Helvetica, sans-serif;
	background:url(../images/devider_bottom.png) repeat-x left bottom;
	padding:8px 0;
	width:100%;
	float:left;
}
.container .container_left .leftnav_top .leftnav_bottom .leftnav_bg .headLine a {
    color: #474747;
    float: left;
    font: bold 12px/16px "Lucida Sans", Arial, Helvetica, sans-serif;
    padding: 0 12px 10px 0;
    width: 178px;
}

.container .container_left .leftnav_top .leftnav_bottom .leftnav_bg li.dcjq-parent-li a.dcjq-parent {
 	background: url("../images/plus.png") no-repeat scroll right 5px transparent;
    color: #474747;
    float: left;
    font: bold 12px/16px "Lucida Sans", Arial, Helvetica, sans-serif;
    padding: 0 12px 10px 0;
    width: 178px;
}


.container .container_left .leftnav_top .leftnav_bottom .leftnav_bg li.dcjq-parent-li a.active {
 background: url("../images/minues.png") no-repeat scroll right 5px transparent;
    color: #474747;
    float: left;
    font: bold 12px/16px "Lucida Sans", Arial, Helvetica, sans-serif;
    padding: 0 12px 10px 0;
    width: 178px;
}




span.dcjq-count{
display:none;
}

.container .container_left .leftnav_top .leftnav_bottom .leftnav_bg {
	float:left;
	width:191px;
}
.container .container_left .leftbottom {

	float:left;
	width:100%;
	border-top:2px solid #acacac;
	margin:10px 0 0 0;
	padding:10px 0 0px 0;
}
.container .container_left .leftnav_top .leftnav_bottom .leftnav_bg .headLine ul {
	float:left;
	padding:0;
	margin:0;
}
.container .container_left .leftnav_top .leftnav_bottom .leftnav_bg .headLine ul li {
	float:left;
	padding:3px 0;
	margin:0;
	display:block;
	width:191px;
	border-bottom:1px solid #e1e1e1;
}
.container .container_left .leftnav_top .leftnav_bottom .leftnav_bg .headLine ul li a {
	font:normal 11px/15px "Lucida Sans", Arial, Helvetica, sans-serif;
	float:left;
	width:171px;
	color:#484848;
	padding:4px 0 4px 20px;
	background:url(../images/dark_grey_arrow.png) no-repeat 3px 6px;
}
.container .container_left .leftnav_top .leftnav_bottom .leftnav_bg .headLine ul li a:hover {
	font:normal 11px/15px "Lucida Sans", Arial, Helvetica, sans-serif;
	color:#fff;
	background:#3e6ba2 url(../images/white_arrow.png) no-repeat 3px 6px;
}
.container .container_right {
	width:732px;
	float:right;
}
.container .container_right .container_banner {
	float:left;
	overflow:hidden;
}
.container .container_right .containt {
	float:left;
	width:732px;
	padding:20px 0 0 0;
}
.container .container_right .containt .containt_left {
	width:486px;
	float:left;
}

.container .container_right .containt .widewidth {
	width:100%;
	float:left;
}

.container .container_right .containt h2 {
	color:#444445;
	font:normal 18px/24px "Lucida Sans", Arial, Helvetica, sans-serif;
	margin:15px 0px 6px;
	float:left;
	width:100%;
}

#rightnav .rightnavbg h2 {
	color:#356aba;
    font: 16px/22px "Lucida Sans", Arial, Helvetica, sans-serif;
    margin: 0 0 8px;
}

.container .container_right .containt h3 {
	color:#356aba;
	font:normal 16px/22px "Lucida Sans", Arial, Helvetica, sans-serif;
	float:left;
    margin: 15px 0 10px;
	width:100%;
}

.container .container_right .containt h4 {
    clear: both;
    font: normal 14px/18px "Lucida Sans", Arial, Helvetica, sans-serif;
    padding: 10px 0;
}

.container .container_right .containt p {
	color:#444445;
	font:normal 12px/20px "Lucida Sans", Arial, Helvetica, sans-serif;
	margin:0px 0 8px;
	float:left;
	display:block;
	width:100%;
}
.container .container_right .containt ul {
	float:left;
	display:block;
	padding:0;
	margin:0 0 10px;
	width:100%;
}
.container .container_right .containt ul li {
	display:block;
	padding:3px 0 3px 20px;
	margin:0;
	font:normal 12px/20px "Lucida Sans", Arial, Helvetica, sans-serif;
	background:url(../images/li_arrow.png) left 8px no-repeat;
	clear:both;
}
.containt_rightinner {
	float:right;
	width:222px;
}
.containt_rightinner #addbox {
	float:left;
	width:222px;
}
.containt_rightinner #addbox .adbxTop {
	background:url(../images/rightbannertop.png) no-repeat 0px 0px;
	height:5px;
	 width: 220px;
}
.containt_rightinner #addbox .adbxSpcr {
	background:url(../images/rightbannermdlspcr.png) repeat-x 0px 0px #9a480b;
	 width: 200px;
	 padding:0px 10px;
	 overflow:hidden;
}
.containt_rightinner #addbox .addboxbottom {
	background:url(../images/rightbannerbottom.png) no-repeat left bottom;
	height:5px;
	 width: 220px;
}

.containt_rightinner #addbox p {
	color:#fff;
	font:normal 12px/18px "Lucida Sans", Arial, Helvetica, sans-serif;
	clear:both;
	margin:0px 0 10px;
	padding:5px 0px 10px;
}
.containt_rightinner #addbox h2 {
	color:#fff;
	font:bold 16px/18px "Lucida Sans", Arial, Helvetica, sans-serif;
}
.containt_rightinner #addbox a.more {
	color:#fff;
	float:left;
	font:normal 16px/18px "Lucida Sans", Arial, Helvetica, sans-serif;
	padding:0px 0px 10px;
}
.containt_rightinner #addbox a:hover.more {
	color:#fed2b1;
}
.containt_rightinner #rightnav {
	background:url(../images/rightnavtop.png) no-repeat left top;
	padding:7px 0 0 0;
	float:left;
	width:222px;
	margin:16px 0 0 0;
}
.containt_rightinner #rightnav .rightnavbottom {
	float:left;
	width:222px;
	background:url(../images/rightnavbottom.png) left bottom no-repeat;
	padding:0 0 7px 0;
}

.containt_rightinner #rightnav .rightnavbottom .rightnavbg {
	background:url(../images/rightnavbg.png) repeat-y left top;
    float: left;
    padding: 5px 13px;
    width: 196px;
}

.containt_rightinner #rightnav .rightnavbottom .rightnavbg img{
	width:196px;
	margin:0 0 10px;
}

.containt_rightinner #rightnav h1 {
	color:#d78039;
	font:normal 16px/18px "Lucida Sans", Arial, Helvetica, sans-serif;
}
.containt_rightinner #rightnav ul {
	width:202px;
	float:left;
	padding:0;
	margin:0;
}
.containt_rightinner #rightnav ul li {
    overflow: hidden;
	margin:0;
	display:block;
	background:url(../images/light_grey_arrow.png) left 8px no-repeat;
	padding:3px 0 3px 20px;
}
.containt_rightinner #rightnav ul li a {
	font:normal 12px/18px "Lucida Sans", Arial, Helvetica, sans-serif;
	width:182px;
	float:left;
	color:#4A4A4A;
}
.containt_rightinner #rightnav ul li a:hover {
	color:#356ABA;
}

.containt_rightinner #rightnav ul li ul {
	width:auto !important;
	display:block;
}

.containt_rightinner #rightnav ul li ul li {
	width:auto !important;
	font-size:11px;
	padding: 0 0 0 16px;
    background-position: 0 4px;
	display:block;
}

.jcarousel-skin-tango .jcarousel-clip-horizontal {
	overflow:hidden !important;
}


#rightnav .rightnavbg .test_write {
	text-align:right;
}

#rightnav .rightnavbg a.all_test  {
	color:#356ABA;
    display: block;
    text-align: right;
	clear:both;
}

.containt .indust_sec {
    border-bottom: 1px solid #999;
    clear: both;
    display: block;
    float: left;
    margin: 0 0 20px;
    padding: 10px 0 10px;
    width: 100%;
}

.containt .case_sec,
.containt .news_sec {
    border-bottom: 1px solid #999999;
    clear: both;
    display: block;
    float: left;
    margin: 0 0 20px;
    padding: 10px 0;
    width: 100%;
}

.containt .case_sec .case_box {
	float:right;
	margin:0 0 0 10px;
	clear:right;
}

.containt .case_sec h2 {
	font-size:17px !important;
	float:none !important;
	width:auto !important;
}
.containt .case_sec h3,
.containt .case_sec p {
	float:none !important;
	width:auto !important;
}


.containt .case_sec .img_sec {
	float:right;
	margin:0 0 0 15px;
	width:215px;
}

.containt .case_sec .img_sec img {
	margin:0 0 10px;
	width:215px;
}

.containt .news_sec {
    margin:15px 0 20px;
}

.containt .news_sec {
    margin:10px 0 10px;
}

.containt .news_sec h2 {
	margin:0 !important;
	font-size:16px !important;
}

.containt .news_sec h3 {
	margin:0 !important;
	font-size:15px !important;
}


.containt ul.news_info {
}
.containt ul.news_info li{
	display:block;
	padding:0 !important;
	margin:0;
	font:normal 12px/20px "Lucida Sans", Arial, Helvetica, sans-serif;
	background:none !important;
	clear:both;
}

/*---------content_image-------*/

.contentImage{margin:0; padding:10px; width:466px; height:417px; background:url(../images/textbg.jpg) no-repeat; display:block;}
.contentImage h2{font-style:italic !important; color:#6c6a6a!important; margin:6px 0 6px!important;}
.contentImage p{font-style:italic !important; padding:0 0 10px 0 !important; margin:0!important; color:#6c6a6a!important}
.contentImage ul{padding:0 0 0 20px!important;}
.contentImage ul li{font-style:italic!important; color:#6c6a6a!important;}
/*---------content_image-------*/



.faq_sec {
	float:left;
	width:100%;
	padding:0 0 10px;	
}

.faq_sec .heading {
	padding:0 0 10px;
	font:normal 15px Arial, Helvetica, sans-serif;
}

.faq_sec .heading a {
	color:#444445;
}

.testimonial_sec {
    border-bottom: 1px solid #999999;
    clear: both;
    display: block;
    float: left;
    margin: 0 0 20px;
    padding: 10px 0;
    width: 100%;
}

.testimonial_sec .author_sec {
}

.testimonial_sec .author_sec .test_logo {
	float:left;
}

.testimonial_sec .author_sec .author {
	float:right;
	text-align:right;
}

.contact_sec {
    clear: both;
    float: left;
    padding: 10px 0;
    width: 100%;
}

.contact_sec p {
	margin:0 !important;
	padding:0 !important;
	font-size:13px !important;
}

.contact_sec ul {
	padding:15px 0 !important;
}

.contact_sec ul li {
    background: none repeat scroll 0 0 transparent !important;
    list-style: none outside none;
    padding: 0 0 10px !important;
	overflow:hidden;
}

.contact_sec ul li .left {
	float:left;
	width:150px;
}

.contact_sec ul li .right {
	float:left;
}

.contact_form_sec {
	background:#efefef url(../images/form_top_cur.jpg) no-repeat 0 0;
    margin: 10px 0 0;
    overflow: hidden;
    padding: 6px 0 0;
    width: 730px;
}

.contact_form_sec .btm_cur {
	background:url(../images/form_btm_cur.jpg) no-repeat left bottom;
	padding:12px 16px 6px;
	overflow:hidden;
}

.contact_form_sec .heading {
	font:normal 15px Arial, Helvetica, sans-serif;
	color:#305b95;
	padding:5px 0 15px;
	margin:0 0 10px;
	background:url(../images/head_bg.jpg) repeat-x left bottom; 
}

.contact_form_sec .heading span {
	color:#ff0000;
}

.contact_form_sec ul.form {
}

.contact_form_sec ul.form li {
    background: none !important;
    margin: 0 0 15px !important;
    overflow: hidden;
    padding: 0 !important;
}

.contact_form_sec ul.form li span.lft  {
	float:left;
	width:348px;
}

.contact_form_sec ul.form li span.rht  {
	float:left;
	width:333px;
}

.contact_form_sec ul.form li label {
    color: #2C2C2C;
    display: block;
    font: 13px Arial,Helvetica,sans-serif;
    padding: 0 0 3px;
}

.contact_form_sec ul.form li label span {
	color:#ff0000;
}

.contact_form_sec ul.form li input[type="text"] {
	background:url(../images/contact_input_bg.jpg) no-repeat 0 0 ;
	width:313px;
	height:31px;
	line-height:31px;
	padding:0 10px;
	border:none;
}

.contact_form_sec ul.form li .sbmt {
	background:url(../images/submit_Btn.jpg) no-repeat 0 0;
    border: medium none;
    float: left;
    font-size: 0;
    height: 34px;
    text-indent: -9999px;
    width: 99px;
	cursor:pointer;
}

.contact_form_sec ul.form li .sbmt:hover {
	background:url(../images/submit_Btn.jpg) no-repeat 0 -34px ;
}

.fbox_ChekdLeft {width:345px; float:left; list-style:none;}
.field_box label { font-size:13px; font-family:Georgia, "Times New Roman", Times, serif; font-weight:normal; padding:5px 10px; line-height:20px;}
.field_box span {color:#2C2C2C;}
.field_box {width:450px; float:left;}
.field_box .desc_point {float:left; padding:5px 0px;}
.field_box .desc_txt {float:left; padding:3px 10px;}




/*--------sitemap---------*/
.sitemap_pnl {
    border-bottom: 1px solid #EDEDED;
    float: left;
    padding: 10px;
    width: 950px;
}
.sitemap_pnl .sitemap_box {
    float: left;
    width: 228px;
	padding-right:12px;
}
.sitemap_pnl .sitemap_box_last {
	padding-right:0;
	float:right;
}
.sitemap_pnl .sitemap_box span {
    clear: both;
    color: #363636;
    float: left;
    font-size: 17px;
    margin:0 0 10px 0;
}
.sitemap_pnl .sitemap_box span a {
    color: #356ABA;
    text-decoration: none;
}

.sitemap_pnl .sitemap_box ul {
    clear: both;
    float: left;
    margin: 0;
    padding: 0;
}
.sitemap_pnl .sitemap_box ul li {
    background: url(../images/accordion_bullet.gif) left 8px no-repeat;
    display: block;
    list-style: none outside none;
    padding: 2px 0 2px 15px;
}
.sitemap_pnl .sitemap_box ul li a {
    color: #363636;
    text-decoration: none;
	font-size:13px;
}

.sitemap_pnl .sitemap_box ul li a:hover {text-decoration:underline;}

h1.sitemap{font:24px/36px "Lucida Sans","Lucida Grande",sans-serif; color:#356ABA; padding:10px 0 0 8px;}
h1.sitemap a{text-decoration:none; color:#356ABA;}
/*--------------29-05-2012--------------*/

.portfolio_content_main{margin:0; padding:20px 0 0 0; border-top:1px dashed #DFDBD4;}
.portfolio_content_box{margin:0 0 20px 0; padding:0 0 20px 0; border-bottom:1px dashed #DFDBD4}
.portfolio_content_box.last{margin:0;}
.portfolio_content_box .image_left{float:left; margin:0; padding:0; width:155px}
/*.portfolio_content_box .image_right{float:right; margin:0; padding:0; width:155px}*/
.portfolio_content_box .portfolio_content{margin:0; padding:0; float:right; width:560px;}
.portfolio_content_box .portfolio_content p{margin:0 0 8px 0!important; padding:0!important; line-height:18px!important	;}
/*.portfolio_content_box .portfolio_content2{margin:0; padding:0; float:right; width:560px;}*/
.portfolio_content_box h3 {margin: 0px 0 8px 0!important; float:none!important;}
.portfolio_content_box h3 a{color:#356ABA;}


.pagination{display:none!important}

/*---------------06-06-2012------------------*/
.bg_blue{background-color:#ccffff; margin:0px; padding:10px; border:1px solid #ccc}

.contentImage_cat{margin:0; padding:10px; width:466px; height:570px; background:url(../images/textbg_new.jpg) no-repeat; display:block;}


/*----------29-06----------*/

.social_links{margin:0; padding:0; width:38px; height:146px; position:fixed; top:180px; left:0; background:url(../images/social_ic_bg.jpg) left no-repeat;}
.social_links img{border:0; margin:0; padding:4px 0 0 2px; display:block;}
.social_links img.fbtop{padding:10px 0 0 2px;}

/*----------05-09----------*/
#related_pages{margin:0; padding:20px 0;}
#related_pages .title{border-bottom: 1px dotted #666666;
    color: #356ABA;
    font: 16px/24px "Lucida Sans",Arial,Helvetica,sans-serif;
    margin: 0 0 8px;
    padding: 0 0 6px 3px;}
#related_pages ul{list-style:none; margin:0; padding:0 0 0 5px;}
#related_pages ul li{list-style:none; margin:0; padding:0;}
#related_pages ul li a{background: url(images/dark_grey_arrow.png) no-repeat scroll 3px 6px transparent; color: #484848; display: block; font: 13px/15px "Lucida Sans",Arial,Helvetica,sans-serif; padding: 4px 0 4px 15px;}
#related_pages ul li a:hover{text-decoration:underline;}

/*case-study-PETSS*/
.petss_img_area{margin:0; padding:0;}
.petss_img{margin:0; padding:0 0 5px 0 !important; float:left; background:none !important;}
.petss_img span{margin:0; padding:0; width:135px; float:left;}
.petss_img span a{font:15px Calibri; color:#0000FF; text-decoration:none;}
.petss_img span a img{padding:5px 5px 5px 0; float:left}
.petss_img span a:hover{text-decoration:underline;}

/*---02-01-2012/arrow-box-bg----*/

.xbrl-process{margin:0 0 15px; padding:0; background:url(../images/arrow-box-bg.png) no-repeat; width:486px; height: 431px; font:16px/24px Calibri; color:#fff;}

.xbrl-process-bot{margin:51px 0 0 0; padding:0;}

.xbrl-process-box-l{margin:0; padding:24px 28px 0 20px; float:left; width:180px}
.xbrl-process-box-r{margin:0; padding:24px 30px 0 24px; float:right; width:180px}

.xbrl-con-advn{margin:0 0 20px 0; padding:0;}

.xbrl-con-advn table{margin:10px 0 0 0}
.xbrl-con-advn table tr td{padding:5px}
.xbrl-con-advn .tr-even{background:#f5f5f5;}

/*-----25-01-----*/

#flastohtml5-flow{margin:0; padding:0;}

#flastohtml5-flow .flow-box{margin:0 18px 0 0; padding:10px; float:left; width:128px; height:85px; background:#2f5989; border:1px solid #003571; font:13px/20px Calibri; color:#ffffff; -webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;} 
#flastohtml5-flow .flow-box-img{text-align:center; width:148px; float:left; margin:0 18px 10px 0}
#flastohtml5-flow .flow-box-img-last{margin-right:0;}

#flastohtml5-flow .flow-box-last{margin-right:0;}



